/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
---------------------------------------------------------------- */
/* Addon CSS */
/*addon-variables*/
/*ewa-addon-mixins*/
/* service */
.service-one__body { position: relative; margin-top: -30px; }

.service-one__image { display: block; width: 100%; min-height: 250px; background-repeat: no-repeat; background-position: center center; background-size: cover; vertical-align: middle; position: relative; margin-top: 30px; }

.service-one__text { bottom: 0; left: 0; margin: 0px; padding: 0px; position: absolute; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.service-one__text h3 { background-color: rgba(0, 0, 0, 0.5); color: #fff; bottom: 0; left: 0; margin: 0px; padding: 10px 45px 10px 15px; position: relative; width: 100%; font-size: 1.125rem; font-weight: 700; line-height: 2.25rem; text-transform: uppercase; }

.service-one__text a { background-color: #77C720; color: #fff; display: inline-block; font-size: 1.125rem; padding: 20px; height: 56px; position: absolute; right: 0; bottom: 0; }

.service-one__text a:hover { background-color: #e9e9e9; }

/* heading */
.text__center { text-align: center; }

.section-block__heading { position: relative; display: inline-block; text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-weight: 800; color: #333; font-size: 1.5rem; font-weight: 600; line-height: 2.25rem; margin-bottom: 24px; }

@media (min-width: 576px) { .section-block__heading { font-size: 2.5rem; margin-bottom: 15px; font-weight: 800; } }

@media (min-width: 576px) { .section-block__subheading { position: relative; font-size: 1rem; line-height: 2rem; font-weight: 500; color: #333; margin-top: 24px; margin-bottom: 18px; padding: 0px 30px; letter-spacing: 0.02em; text-transform: uppercase; } }

.section-block__subheading:before { content: "========="; left: 50%; letter-spacing: -2px; margin-left: -38px; position: absolute; top: -32px; width: 0; color: #77C720; width: 72px; text-align: center; display: block; }

@media (max-width: 576px) { .section-block__subheading { display: none; } }

/* team style */
.team-one__member { background-color: #fff; position: relative; margin-bottom: 25px; }

.team-one__member figure { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

.team-one__info { cursor: pointer; overflow: hidden; width: 100%; }

.team-one__info img { -webkit-backface-visibility: hidden; backface-visibility: hidden; display: block; height: auto; line-height: 0; -webkit-transform: scale(1, 1); transform: scale(1, 1); -webkit-transition: all 800ms ease-in-out 0s; transition: all 800ms ease-in-out 0s; vertical-align: bottom; width: 100%; }

.team-one__member h3 { color: #333; font-family: 'Open Sans', sans-serif; font-size: 1.5rem; letter-spacing: 0.01em; font-weight: 700; line-height: 2.25rem; margin-bottom: 0; margin-top: 25px; text-transform: uppercase; -webkit-transition: color 350ms ease-in-out 0s; transition: color 350ms ease-in-out 0s; }

.team-one__member h4 { color: #77C720; font-family: 'Open Sans', sans-serif; font-size: 0.875rem; letter-spacing: 0.01em; font-weight: 600; margin-bottom: 0; display: block; text-transform: uppercase; }

.team-one__socialprofile { display: block; padding: 0; margin: 0; }

.team-one__socialprofile a { float: left; color: #333; display: block; font-size: 0.875rem; line-height: 35px; font-weight: 700; margin: 0; text-transform: uppercase; }

.team-one__socialprofile a:after { content: "/"; font-size: 15px; margin: 0 10px 0 10px; color: #77C720; }

.team-one__socialprofile a:last-child:after { content: ""; }

.team-one__socialprofile a:hover { color: #77C720; }

.team-two__member { display: block; position: relative; -webkit-transform: translateZ(0px); transform: translateZ(0px); -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; vertical-align: middle; background-color: #F9FAFB; }

.team-two__member figure { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

.team-two__member:hover, .team-two__member:focus, .team-two__member:active { -webkit-transform: translateY(-5px); transform: translateY(-5px); }

.team-two__info img { display: block; width: 100%; }

.team-two__member h3 { color: #333; font-family: 'Open Sans', sans-serif; font-size: 1.125rem; letter-spacing: 0.03em; font-weight: 700; margin-bottom: 0; margin-top: 25px; text-transform: uppercase; text-align: center; }

.team-two__member h4 { color: #333; font-family: 'Open Sans', sans-serif; font-size: 0.875rem; letter-spacing: 0.03em; font-weight: 500; text-transform: uppercase; text-align: center; }

.team-two__socialprofile { position: relative; border-top: 1px solid #dfdfdf; margin: 14px; padding: 20px 10px; }

.team-two__socialprofile a { border: 1px solid #77C720; color: #fff; background-color: #77C720; display: inline-block; font-size: 0.875rem; height: 31px; line-height: 1.75rem; margin: 0px 3px 5px; position: relative; text-align: center; -webkit-transition: all 300ms ease 0s; transition: all 300ms ease 0s; width: 32px; }

.team-two__socialprofile a:hover { color: #333; }

/* about */
.about-action__body { position: relative; overflow: hidden; margin-left: 15px; margin-right: 15px; background-color: #fff; margin-bottom: 48px; }

.about-action__body:last-child { margin-bottom: 0px; }

.about-action__body .col-lg-6 { padding: 0px; }

.about-action__text { margin: 25px 10px; padding: 0 25px; }

.about-action__heading { position: relative; display: inline-block; text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-size: 2.5rem; font-weight: 600; line-height: 2.25rem; margin-top: 12px; margin-bottom: 16px; color: #333; }

@media (min-width: 576px) { .about-action__heading { font-weight: 800; }
  .about-action__heading:before { color: #77C720; content: "========="; display: block; font-size: 1rem; font-weight: normal; letter-spacing: -2px; margin-right: -110px; position: absolute; right: 0; text-align: center; top: 3px; width: 120px; } }

.about-action .btn { text-align: center; }

.about-action__button { margin-top: 32px; border-radius: 0px; background-clip: padding-box; color: #fff; background: #77C720; border: 2px solid #77C720; padding: 12px 24px; font-size: 1.125rem; font-weight: 800; letter-spacing: 0.05em; text-transform: capitalize; -webkit-transition: 0.3s 0.2s ease-out; transition: 0.3s 0.2s ease-out; display: block; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }

.about-action__button:hover { color: #333; }

@media (max-width: 992px) { .about-action__button { margin-bottom: 40px; } }

.about-action figure { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; display: block; }

.about-action__image { overflow: hidden; position: relative; }

.about-action__image img { vertical-align: middle; width: 100%; }

.about-action__icon { left: 50%; margin-left: -28px; margin-top: -28px; position: absolute; top: 50%; z-index: 999; }

.about-action__icon i { background-color: #77C720; border-radius: 100%; color: #fff; font-size: 1.75rem; line-height: 3.5rem; position: relative; text-align: center; width: 56px; }

.about-action__bg { background-color: #333; bottom: 0; height: 100%; opacity: 0.4; position: absolute; width: 100%; }

.aboutus-two__body { position: relative; overflow: hidden; margin-left: 15px; margin-right: 15px; background-color: #fff; }

.aboutus-two__text { padding: 0 40px 0 0; }

.aboutus-two__heading { position: relative; display: inline-block; font-size: 1.5rem; font-weight: 600; line-height: 36px; margin-bottom: 24px; text-transform: uppercase; font-family: 'Open Sans', sans-serif; color: #333; }

@media (min-width: 576px) { .aboutus-two__heading { font-size: 2.5rem; font-weight: 800; margin-bottom: 15px; }
  .aboutus-two__heading:before { color: #77C720; content: "========="; display: block; font-size: 1rem; font-weight: normal; letter-spacing: -2px; margin-right: -110px; position: absolute; right: 0; text-align: center; top: 3px; width: 120px; } }

.aboutus-two__heading p { margin-bottom: 20px; }

.aboutus-two__button { border-radius: 0px; background-clip: padding-box; margin: 0px; color: #fff; background: #77C720; border: 2px solid #77C720; padding: 12px 24px; font-size: 1.125rem; font-weight: 800; letter-spacing: 0.05em; text-transform: capitalize; -webkit-transition: 0.3s; transition: 0.3s; display: inline-block; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }

.aboutus-two__button:hover { color: #333; }

.aboutus-two__image { overflow: hidden; position: relative; margin: 8px 0 0px; padding: 0px 0px; }

@media (max-width: 768px) { .aboutus-two__image { display: none; } }

.aboutus-two__image img { vertical-align: middle; width: 100%; background: #F9FAFB; }

/* post-grid */
.postgrid-one__image { background-size: cover; background-position: center; padding-top: 55%; background-repeat: no-repeat; display: block; }

.postgrid-one__image img { display: block; width: 100%; }

.postgrid-one__title { margin-top: 20px; margin-bottom: 15px; font-size: 1.125rem; font-weight: 700; line-height: 2.25rem; text-transform: uppercase; }

.postgrid-one__title a { color: #333; }

.postgrid-one__title a:hover { color: #77C720; }

.postgrid-one__details { font-size: 0.875rem; font-weight: 600; margin-bottom: 20px; }

.postgrid-one__author { border-right: 1px solid #333; color: #333; display: inline-block; line-height: 0.875rem; margin-right: 3px; padding-right: 8px; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.postgrid-one__comments { color: #333; display: inline-block; line-height: 0.875rem; margin-right: 3px; padding-right: 8px; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

.postgrid-one__footer { margin-top: 0px; text-align: center; }

.postgrid-one__left { position: relative; display: inline-block; text-align: center; margin: 0 4px; }

.postgrid-one__left i { border: 1px solid #dfdfdf; color: #77C720; background-color: #F9FAFB; display: inline-block; height: 2rem; position: relative; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; width: 32px; line-height: 1.875rem; font-size: x-large; }

.postgrid-one__right { position: absolute; display: inline-block; float: right; text-align: center; margin: 0 4px; }

.postgrid-one__right i { border: 1px solid #dfdfdf; color: #77C720; background-color: #F9FAFB; display: inline-block; height: 32px; position: relative; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; width: 32px; line-height: 1.875rem; font-size: x-large; }

.postgrid-two__body { border: 1px solid #dfdfdf; }

.postgrid-two__image { background-size: cover; background-position: center; padding-top: 60%; background-repeat: no-repeat; display: block; }

.postgrid-two__details { padding: 15px; }

.postgrid-two__date { color: #333; font-size: 0.9375rem; font-weight: 600; text-transform: uppercase; }

.postgrid-two__title { font-size: 1.125rem; font-weight: 700; line-height: 2.25rem; margin-top: 8px; margin-bottom: 8px; text-transform: uppercase; }

.postgrid-two__title a { color: #333; }

.postgrid-two__title a:hover { color: #77C720; }

.postgrid-two__link { color: #77C720; font-size: 1rem; font-weight: 700; line-height: 2.25rem; text-transform: uppercase; }

.postgrid-two__link:hover { color: #6BA031; }

.post-query .slick-dots li button { border: 2px solid #77C720; background-color: transparent; }

.post-query .slick-dots li button:before { border-radius: 0 !important; width: 20px !important; height: 20px !important; background-color: #77C720; content: ""; padding: 10px; position: absolute; }

/* project-grid */
.projects-block__body { margin-bottom: 20px; background: #fff; }

@media (max-width: 576px) { .projects-block__body { width: 100%; float: left; clear: both; background: #fff; } }

.projects-block__left { padding: 0px; }

.projects-block__left figure { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

.projects-block__image { background-size: cover; background-position: center; padding-top: 50%; background-repeat: no-repeat; display: block; }

.projects-block__text { padding: 20px 25px; }

@media (max-width: 576px) { .projects-block__text { padding: 24px 12px; } }

.projects-block__value { text-transform: uppercase; margin: 12px 0px; font-size: 1.125rem; clear: both; font-weight: 700; }

@media (max-width: 576px) { .projects-block__value { margin: 12px 0px; font-size: 1.125rem; text-transform: uppercase; clear: both; font-weight: 400; } }

.projects-block__raised { color: #333; }

@media (max-width: 576px) { .projects-block__raised { color: #77C720; font-size: 0.875rem; text-align: left; } }

.projects-block__goal { color: #77C720; }

@media (max-width: 576px) { .projects-block__goal { color: #333; font-size: 0.875rem; text-align: left; } }

.projects-block__details h5 a { font-family: 'Open Sans', sans-serif; margin-top: 18px; color: #333; font-size: 1.125rem; font-weight: 700; line-height: 2.25rem; display: block; text-transform: uppercase; }

.projects-block__details h5 a:hover { color: #77C720; }

.projects-block__button { border-radius: 0px; background-clip: padding-box; color: #fff; background: #77C720; border: 2px solid #77C720; padding: 12px 24px; font-size: 1.125rem; margin: 20px 0; font-weight: 800; letter-spacing: 0.05em; text-transform: uppercase; -webkit-transition: 0.3s 0.2s ease-out; transition: 0.3s 0.2s ease-out; display: inline-block; }

.projects-block__button:hover { color: #333; }

@media (max-width: 576px) { .projects-block__button { margin: 10px 0; padding: 8px 12px; font-size: 0.875rem; font-weight: 600; } }

.projects-block__buttontwo { float: right; border-radius: 0px; background-clip: padding-box; color: #333; border: 2px solid #77C720; padding: 12px 24px; font-size: 1.125rem; margin: 20px 0; font-weight: 800; letter-spacing: 0.05em; text-transform: uppercase; -webkit-transition: 0.3s 0.2s ease-out; transition: 0.3s 0.2s ease-out; }

.projects-block__buttontwo:hover { background: #77C720; color: #fff; }

@media (max-width: 576px) { .projects-block__buttontwo { margin: 10px 0; padding: 8px 12px; font-size: 0.875rem; font-weight: 600; } }

.projects-block__right { padding: 0px; }

.projects-block__right figure { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* event */
.event-block__body { border: 1px solid #DFDFDF; margin-bottom: 24px; }

@media (max-width: 992px) { .event-block__body { margin-bottom: 48px; }
  .event-block__body img { width: 100%; max-width: 100%; } }

.event-block__body figure { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

.event-block__image { background-size: cover; background-position: center; padding-top: 60%; background-repeat: no-repeat; display: block; }

.event-block__image img { display: block; clear: both; text-align: center; opacity: 0.8; -webkit-transition: all 0.8s ease-out; transition: all 0.8s ease-out; max-width: 100%; }

.event-block__image img:hover { display: block; clear: both; text-align: center; -webkit-transform: scale(1.2); transform: scale(1.2); opacity: 0.7; }

.event-block__text { position: relative; background: #fff; padding: 12px; }

.event-block__date { background: #77C720; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 700; padding: 8px 25px; text-align: center; text-transform: uppercase; top: -48px; position: absolute; height: 48px; left: 50%; width: 200px; margin-left: -100px; line-height: 28px; }

.event-block__text h5 { font-size: 20px; margin: 0; }

.event-block__text h5 a { font-family: 'Open Sans', sans-serif; color: #333333; font-size: 18px; display: block; text-transform: uppercase; line-height: 36px; font-weight: 700; margin-top: 12px; }

.event-block__text h5 a:hover { color: #77C720; }

.event-block__time { font-weight: 400; font-size: 15px; }

.event-block__time i { display: inline-block; margin-right: 5px; font-size: 24px; width: 20px; margin-right: 10px; }

.event-block__location { font-weight: 400; font-size: 15px; }

.event-block__location i { position: relative; display: inline-block; margin-right: 5px; font-size: 24px; width: 20px; top: 3px; margin-right: 8px; margin-left: 4px; }

.event-block__footer { text-align: center; }

.event-block .btn { text-align: center; }

.event-block__button { margin-top: 30px; border-radius: 0px; background-clip: padding-box; color: #fff; background: #77C720; border: 2px solid #77C720; padding: 12px 24px; font-size: 18px; font-weight: 800; letter-spacing: 0.05em; text-transform: capitalize; -webkit-transition: 0.3s 0.2s ease-out; transition: 0.3s 0.2s ease-out; position: relative; display: inline-block; }

.event-block__button:hover { color: #333333; }

@media (max-width: 992px) { .event-block__button { margin-top: 12px; margin-bottom: 24px; } }

/* slider */
.slider-block__image { background-position: center center; background-repeat: no-repeat; background-size: cover; min-height: 800px; width: 100%; }

.slider-block__content { position: absolute; top: 50%; -webkit-transform: translateY(-55%); transform: translateY(-55%); width: 100%; }

.slider-block__content h2 { font-family: 'Open Sans', sans-serif; font-size: 5rem; line-height: 5.313rem; font-weight: 800; letter-spacing: -1px; color: #fff; text-transform: uppercase; margin: 0; }

@media (max-width: 768px) { .slider-block__content h2 { font-size: 3.438rem; line-height: 3.75rem; } }

@media (max-width: 576px) { .slider-block__content h2 { font-size: 2.25rem; text-align: center; line-height: 2.625rem; } }

.slider-block__content h3 { font-family: 'Open Sans', sans-serif; font-weight: 800; font-size: 1.75rem; line-height: 2rem; letter-spacing: -1px; margin-top: 20px; color: #fff; text-transform: uppercase; }

@media (max-width: 768px) { .slider-block__content h3 { font-size: 1.625rem; } }

@media (max-width: 576px) { .slider-block__content h3 { display: 22px; } }

.slider-block__button { border-radius: 0px; background-clip: padding-box; color: #fff; background: #333; border: 2px solid #333; padding: 12px 24px; font-size: 1.375rem; margin-top: 18px; height: 60px; font-weight: 700; letter-spacing: 0.05em; text-transform: capitalize; -webkit-transition: 0.3s 0.2s ease-out; transition: 0.3s 0.2s ease-out; display: inline-block; }

.slider-block__button:hover { background: #333; color: #fff; }

@media (max-width: 576px) { .slider-block__button { display: none; } }

.slider-block__buttontwo { border-radius: 0px; background-clip: padding-box; color: #77C720; background: #fff; border: 2px solid #fff; padding: 12px 24px; font-size: 1.375rem; margin-top: 18px; margin-left: 18px; height: 60px; font-weight: 700; letter-spacing: 0.05em; text-transform: capitalize; -webkit-transition: 0.3s 0.2s ease-out; transition: 0.3s 0.2s ease-out; display: inline-block; }

.slider-block__buttontwo:hover { border: 2px solid #F9FAFB; background: #F9FAFB; color: #6BA031; }

@media (max-width: 576px) { .slider-block__buttontwo { display: none; } }

.slider-block .slick-arrow { display: none !important; }

.slider-block:hover .slick-arrow { display: block !important; z-index: 1; }

.slider-block .slick-prev, .slider-block .slick-next { width: 55px; height: 130px; background: rgba(0, 0, 0, 0.3); }

.slider-block .slick-prev:before, .slider-block .slick-next:before { font-family: "instagr"; font-style: normal; font-weight: normal; font-size: 2.5rem; }

.slider-block .slick-prev:hover, .slider-block .slick-next:hover { background: rgba(0, 0, 0, 0.7); }

.slider-block .slick-prev:focus, .slider-block .slick-next:focus { background: rgba(0, 0, 0, 0.3); }

@media (max-width: 992px) { .slider-block .slick-prev, .slider-block .slick-next { display: none !important; } }

@media (max-width: 576px) { .slider-block .slick-prev, .slider-block .slick-next { display: none !important; } }

.slider-block .slick-prev { left: 0; }

.slider-block .slick-next { right: 0; }

/* statistics */
.statistics-block__details { margin: -8px 0; }

.statistics-block__details h4 { margin-top: 8px; font-weight: 700; font-family: 'Open Sans' ,sans-serif; font-size: 1.125rem; text-transform: uppercase; color: #fff; letter-spacing: 0.03em; position: relative; }

.statistics-block__details h4 span { color: #77C720; margin-left: 5px; }

@media (max-width: 576px) { .statistics-block__details { margin: 8px 0 16px; } }

.statistics-block__number { display: block; font-size: 3.125rem; color: #fff; font-weight: 700; font-family: 'Open Sans' , sans-serif; }

/* hero */
.hero-block { padding: 200px 0px; background-repeat: repeat; background-size: cover; background-position: center center; position: relative; overflow: hidden; }

@media (max-width: 768px) { .hero-block { padding: 130px 0px; } }

@media (max-width: 576px) { .hero-block { padding: 90px 0px; } }

.hero-block:before { position: absolute; top: 0; left: 0; background: rgba(0, 0, 0, 0.5); content: ''; width: 100%; height: 2000px; }

.hero-block__title { font-family: 'Open Sans' , sans-serif; font-weight: 800; font-size: 1.75rem; line-height: 2rem; letter-spacing: -1px; margin-top: 20px; color: #fff; text-transform: uppercase; }

@media (max-width: 768px) { .hero-block__title { font-size: 1.375rem; } }

@media (max-width: 576px) { .hero-block__title { font-size: 0.9375rem; } }

.hero-block__title span { background-color: rgba(119, 199, 32, 0.7); padding: 7px 15px; }

@media (max-width: 768px) { .hero-block__title span { padding: 5px 12px; } }

@media (max-width: 576px) { .hero-block__title span { background-color: none; } }

.hero-block__heading { font-family: 'Open Sans' , sans-serif; font-size: 5rem; line-height: 5.313rem; font-weight: 800; letter-spacing: -1px; color: #fff; text-transform: uppercase; margin: 0; }

@media (max-width: 768px) { .hero-block__heading { font-size: 3.75rem; line-height: 4.063rem; } }

@media (max-width: 576px) { .hero-block__heading { font-size: 3.125rem; line-height: 3.438rem; } }

/* issue */
.global-temperature__text h4 { font-size: 1.125rem; text-transform: uppercase; font-weight: 700; margin: 0; }

.global-temperature__text p { margin: 0 0 8px; }

.global-temperature__text i { font-size: 1.375rem; color: #77C720; margin-right: 10px; }

.global-temperature__text .value { font-size: 1.625rem; font-weight: 600; }

.global-temperature__text .value__unit { font-size: 0.9375rem; color: #333; }

/* our Brands */
@media (max-width: 768px) { .our-brand__slider { margin-top: 0; } }

.our-brand__slider .brand-item { padding: 12px; margin-bottom: 0; }

.our-brand__slider .brand-item .brand-img { border-radius: 0; background-clip: padding box; width: 100%; margin: 0 auto 24px auto; border: 1px solid #dfdfdf; display: block; padding: 12px; opacity: 1; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; }

.our-brand__slider .brand-item .brand-img:hover { border: 1px dotted #6BA031; opacity: 0.9; }

@media (max-width: 576px) { .our-brand__slider .brand-item .brand-img { max-width: 100px; margin: 0 auto; } }

.our-brand__slider .slick-dots li button { border: 1px solid #ddd; padding: 5px; }

.our-brand__slider .slick-dots li button::before { top: 5px; left: 5px; width: 10px !important; height: 10px; color: transparent; background-color: #77C720; padding: 3px; opacity: 1; }

/* CTA */
.cta__title { font-size: 2.5rem; line-height: 2.625rem; text-transform: uppercase; font-weight: 800; color: #fff; margin-bottom: 15px; }

.cta__des { font-size: 1rem; line-height: 2rem; font-weight: 400; color: #fff; margin-top: 10px; padding: 0px 30px 0 0; letter-spacing: 0.01em; text-transform: uppercase; }

.cta__btn { margin-top: 24px; color: #fff; background: #77C720; border: 2px solid #77C720; padding: 12px 24px; font-size: 1.125rem; font-weight: 800; text-transform: capitalize; -webkit-transition: 0.3s 0.2s ease-out; transition: 0.3s 0.2s ease-out; display: inline-block; }

.cta__btn:hover { color: #333; }

/* Contact */
/* Contact Page */
.contact-title { font-size: 1.5rem; border-bottom: 3px solid #dfdfdf; padding-bottom: 5px; position: relative; font-weight: 600; text-transform: capitalize; position: relative; font-weight: 600; padding-bottom: 10px; }

.contact-title::after { bottom: -3px; content: ""; height: 3px; left: 0; position: absolute; width: 32px; background: #77C720; }

.contact-info { padding-left: 0px; }

.contact-info li { list-style-type: none; margin-bottom: 16px; }

.contact-info li i { background-color: #77C720; width: 32px; height: 32px; text-align: center; line-height: 2rem; color: #fff; margin-right: 16px; }

.contact-info .icon-container { display: inline-block; background: #77C720; color: #fff; width: 32px; height: 32px; line-height: 2rem; text-align: center; margin-right: 16px; }

.contact-info .icon-container i { font-size: 0.875rem; }

.contact-info address { display: inline-block; }

.contact-info a { color: #333; }

.contact-info li span { display: inline-block; background-color: #77C720; color: #fff; width: 40px; height: 40px; text-align: center; line-height: 2.5rem; margin-right: 10px; }

.contact-social li { display: inline-block; color: #fff; width: 40px; height: 40px; text-align: center; line-height: 40px; margin-right: 10px; }

.contact-social li:nth-child(1) { background-color: #55acee; }

.contact-social li:nth-child(2) { background-color: #3b5998; }

.contact-social li:nth-child(3) { background-color: #0038b1; }

.contact-social li:nth-child(4) { background-color: #cb2027; }

.contact-social li a { color: #fff; display: block; }

/*2.3 Contact Form 7*/
.wpcf7-form p { margin-bottom: 12px; font-weight: 600; }

.contact-address-block li { list-style: none; line-height: 2rem; display: block; }

.wpcf7-form input[type=email], .wpcf7-form input[type=text], .wpcf7-form textarea { background: none; border-radius: 0px; height: auto; line-height: 1.5rem; padding: 12px 0px; -webkit-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s; width: 100%; -webkit-box-shadow: none; box-shadow: none; border: 0; border-bottom: 1px solid #dfdfdf; display: block; margin-top: 12px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wpcf7-form input[type="submit"] { display: inline-block; /* letter-spacing: 4px; */ padding: 10px 30px; margin-top: 20px; text-align: center; text-decoration: none; vertical-align: middle; text-transform: capitalize; -webkit-transition: all 0.2s ease-in-out 0s; transition: all 0.2s ease-in-out 0s; background-color: #77C720; color: #fff; border: 0; -webkit-box-shadow: none; box-shadow: none; line-height: 1.375rem; text-shadow: none; font-family: inherit; font-size: 1rem; font-weight: 600; cursor: pointer; }
