// More complex media queries in grid-variables.scss

// Breakpoints from the framework
// -------------------------
$reflex-xs: 576px !default;
$reflex-sm: 768px !default;
$reflex-md: 992px !default;
$reflex-lg: 1198px !default;
$reflex-xlg: 1470px !default;


@mixin x-small {
	@media (max-width: $reflex-xs) {
		@content;
	}
}

@mixin small {
	@media (max-width: $reflex-sm) {
		@content;
	}
}

@mixin medium {
	@media (max-width: $reflex-md) {
		@content;
	}
}

@mixin large {
	@media (max-width: $reflex-lg) {
		@content;
	}
}

@mixin x-large {
	@media (max-width: $reflex-xlg) {
		@content;
	}
}

@mixin min-x-small {
	@media (min-width: $reflex-xs) {
		@content;
	}
}

@mixin min-small {
	@media (min-width: $reflex-sm) {
		@content;
	}
}

@mixin min-medium {
	@media (min-width: $reflex-md) {
		@content;
	}
}

@mixin min-large {
	@media (min-width: $reflex-lg) {
		@content;
	}
}

@mixin min-x-large {
	@media (min-width: $reflex-xlg) {
		@content;
	}
}