.about-action{
   &__body {
        position: relative;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        background-color: $white;
        margin-bottom: 48px;	
        &:last-child{	     
		    margin-bottom: 0px;	    
		}		
        .col-lg-6{   
            padding: 0px;    
	    }	 
    }	 
    &__text{       
        margin: 25px 10px;
        padding: 0 25px;
	}
    &__heading{    
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 2.25rem;
        margin-top: 12px;
        margin-bottom: 16px;
        color: $text_color;	
	    @include min-x-small {
	        font-weight: 800;
            &:before{    
                color: $primary_color;
                content: "=========";
                display: block;
                font-size: 1rem;
                font-weight: normal;
                letter-spacing: -2px;
                margin-right: -110px;
                position: absolute;
                right: 0;
                text-align: center;
                top: 3px;
                width: 120px;	   
            }
        }        
    }
    .btn{   
       text-align: center;       
	}
    &__button{
        margin-top: 32px;
        border-radius:0px;
        background-clip: padding-box;
        color: $white;
        background: $primary_color;
        border: 2px solid $primary_color;
        padding: 12px 24px;
        font-size:1.125rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        text-transform:capitalize;
        transition: 0.3s 0.2s ease-out; 
	    display: block;
        width: fit-content;
        &:hover{    
            color:$text_color;      
        }     
        @include medium{	
	    margin-bottom: 40px;	
	    }
    }		
    figure{    
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        display: block;    
	}	
    &__image{
        overflow: hidden;
        position: relative;
        img{   
            vertical-align: middle;
            width: 100%;
        }
    }    
	&__icon{   
        left: 50%;
        margin-left: -28px;
        margin-top: -28px;
        position: absolute;
        top: 50%;
        z-index: 999;    
	}
    &__icon i{   
        background-color: $primary_color;
        border-radius: 100%;
        color: $white;
        font-size: 1.75rem;
        line-height: 3.5rem;
        position: relative;
        text-align: center;
        width: 56px;
    }    
    &__bg{   
        background-color: $text_color;
        bottom: 0;
        height: 100%;
        opacity: 0.4;
        position: absolute;
        width: 100%;
    }	
}

// About Us Two

.aboutus-two{
    &__body{
        position: relative;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        background-color: $white;	
	}	
	&__text{    
        padding: 0 40px 0 0;
    }
    &__heading{	
        position: relative;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 36px;
        margin-bottom: 24px;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
	    color: $text_color;	
	    @include min-x-small {	
            font-size: 2.5rem;
            font-weight: 800;
            margin-bottom: 15px;	
            &:before{    
                color: $primary_color;
                content: "=========";
                display: block;
                font-size: 1rem;
                font-weight: normal;
                letter-spacing: -2px;
                margin-right: -110px;
                position: absolute;
                right: 0;
                text-align: center;
                top: 3px;
                width: 120px;
                }	
            }	
	        p{   
            margin-bottom: 20px;  
        }
    }
    &__button{
        border-radius: 0px;
        background-clip: padding-box;
        margin: 0px;
        color: $white;
        background: $primary_color;
        border: 2px solid $primary_color;
        padding: 12px 24px;
        font-size: 1.125rem;
        font-weight: 800;
        letter-spacing: 0.05em;
        text-transform:capitalize;
        transition: 0.3s; 
        display: inline-block;
        width: fit-content;
        &:hover{    
	        color:$text_color;      
	    } 
    }		
	&__image{
        overflow: hidden;
        position: relative;
        margin: 8px 0 0px;
        padding: 0px 0px;   
        @include small{   
            display: none;   
        }
        img{   
            vertical-align: middle;
            width: 100%;
            background: $background_color;
        }
    }	
}