/* Contact Page */
.contact-title {
	font-size: 1.5rem;
	border-bottom: 3px solid $border_color;
	padding-bottom: 5px;
	position: relative;
	font-weight: 600;
    text-transform: capitalize;
    position:relative;
    font-weight:600;
    padding-bottom:10px;
}
.contact-title::after {
	bottom: -3px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 32px;
	background: $primary_color;
}
.contact-info {
    padding-left: 0px;
}
.contact-info li {
    list-style-type: none;
    margin-bottom: 16px;
    i{
        background-color: $primary_color;
        width: 32px;
        height: 32px;
        text-align: center;
        line-height: 2rem;
        color: $white;
        margin-right: 16px;
    }
}
.contact-info .icon-container {
    display: inline-block;
    background: $primary_color;
    color: $white;
    width: 32px;
    height: 32px;
    line-height: 2rem;
    text-align: center;
    margin-right: 16px;
}
.contact-info .icon-container i {
    font-size: 0.875rem;
}
.contact-info address {
    display: inline-block;
}
.contact-info a {
    color: $text_color;
}

.contact-info li span{
    display: inline-block;
    background-color: $primary_color;
    color: $white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 2.5rem;
    margin-right: 10px;
}
.contact-social li {
    display: inline-block;
    color: $white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    &:nth-child(1){
        background-color: #55acee;
    }
    &:nth-child(2){
        background-color: #3b5998;
    }
    &:nth-child(3){
        background-color: #0038b1;
    }
    &:nth-child(4){
        background-color: #cb2027;
    }
}
.contact-social li a {
	color:$white;
    display:block;
}

/*2.3 Contact Form 7*/
.wpcf7-form p{
    margin-bottom: 12px;
    font-weight:600;
}
.contact-address-block li{
    list-style: none;
    line-height: 2rem;
    display: block;
}
.wpcf7-form input[type=email],
.wpcf7-form input[type=text],
.wpcf7-form textarea
{
    background: none;
    border-radius: 0px;
    height: auto;
    line-height: 1.5rem;
    padding: 12px 0px;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid $border_color;
    display: block;
    margin-top: 12px;
    box-sizing: border-box;
}
.wpcf7-form input[type="submit"] {
	display: inline-block;
	/* letter-spacing: 4px; */
	padding: 10px 30px;
	margin-top: 20px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	text-transform: capitalize;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	background-color:$primary_color;
	color: $white;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	line-height: 1.375rem;
	text-shadow: none;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	cursor: pointer;
}