.cta{
    &__title{
        font-size: 2.5rem;
        line-height: 2.625rem;
        text-transform: uppercase;
        font-weight: 800;
        color: $white;
        margin-bottom: 15px;
    }
    &__des{
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 400;
        color: $white;
        margin-top: 10px;
        padding: 0px 30px 0 0;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }
    &__btn{
        margin-top: 24px;
        color: $white;
        background: $primary_color;
        border: 2px solid $primary_color;
        padding: 12px 24px;
        font-size: 1.125rem;
        font-weight: 800;
        text-transform: capitalize;
        transition: 0.3s 0.2s ease-out;
        display:inline-block;
        &:hover{
            color:$text_color;
        }
    }
}