.event-block{
   &__body{  
      border: 1px solid #DFDFDF;
      margin-bottom: 24px;	   
	    @include medium{ 
        margin-bottom: 48px; 
        img{
          width: 100%;
          max-width: 100%; 
        } 
      }  
      figure{   
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;  
      }
    }
    &__image{   
        background-size: cover;
        background-position: center;
        padding-top: 60%;
        background-repeat: no-repeat; 
        display:block;   
        img{   
            display: block;
            clear: both;
            text-align: center;
            opacity: 0.8;
            transition: all 0.8s ease-out;
            max-width: 100%;		  
            &:hover {
              display: block;
              clear: both;
              text-align: center;
              transform: scale(1.2);
              opacity: 0.7;	
			      }  
        }
    }
    &__text{  
      position: relative;
      background: $white;
      padding: 12px;
    }
    &__date{
	    background: $primary_color;
	    color: $white;
	    font-family: 'Open Sans', sans-serif;
	    font-weight: 700;
	    padding: 8px 25px;
      text-align: center;
      text-transform: uppercase;
	    top: -48px;
	    position: absolute;
	    height: 48px;
	    left: 50%;
	    width: 200px;
	    margin-left: -100px;
	    line-height: 28px;
	  }  
    &__text h5{   
        font-size: 20px;
		    margin:0;
		    a {   
          font-family: 'Open Sans', sans-serif;
          color: #333333;
          font-size: 18px;
          display: block;
          text-transform: uppercase;
          line-height: 36px;
          font-weight: 700;
          margin-top: 12px;
		      &:hover {		     
            color: $primary_color;
          }
        }   
    }  
    &__time {
        font-weight: 400;
        font-size: 15px;
        i {
          display: inline-block;
          margin-right: 5px;
          font-size: 24px;
          width: 20px;
          margin-right: 10px;        
		    }
    }
    &__location {
        font-weight: 400;
        font-size: 15px;
        i{
          position: relative;
          display: inline-block;
          margin-right: 5px;
          font-size: 24px;
          width: 20px;
          top: 3px;
          margin-right: 8px;
          margin-left: 4px;
        }
    }
   	&__footer{
      text-align: center;
    }
    .btn{
      text-align: center;
    }
    &__button{
      margin-top: 30px;
      border-radius: 0px;
      background-clip: padding-box;
      color: $white;
      background: $primary_color;
      border: 2px solid $primary_color;
      padding: 12px 24px;
      font-size: 18px;
      font-weight: 800;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      transition: 0.3s 0.2s ease-out;
      position: relative;
      display: inline-block;
      &:hover{
        color: #333333;
      }
      @include medium{
  
       margin-top: 12px;
       margin-bottom: 24px;
      }
    }
  }