.text__center{    
	text-align:center;
}
.section-block{
	&__heading{
      position: relative;
      display: inline-block;
	   text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      color: $text_color;
	   font-size: 1.5rem;
      font-weight: 600;
      line-height: 2.25rem;
      margin-bottom: 24px;
	   @include min-x-small{
         font-size: 2.5rem;
         margin-bottom: 15px;
         font-weight: 800;
	   }
	}
   &__subheading{
      @include min-x-small{	
         position:relative;
         font-size: 1rem;
         line-height: 2rem;
         font-weight: 500;
         color: $text_color;
         margin-top: 24px;
         margin-bottom: 18px;
         padding: 0px 30px;
         letter-spacing: 0.02em;
         text-transform: uppercase;
	   } 
	   &:before {
         content: "=========";
         left: 50%;
         letter-spacing: -2px;
         margin-left: -38px;
         position: absolute;
         top: -32px;
         width: 0;
         color: $primary_color;
         width: 72px;
         text-align: center;
         display: block;
	   } 
      @include x-small{
         display: none;
	   }     
	}
}


