.hero-block{
    padding: 200px 0px;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    @include small {
        padding: 130px 0px;
    }  
    @include x-small{
        padding: 90px 0px;
    }  
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        content: '';
        width: 100%;
        height: 2000px;
    }  
    &__title {
        font-family: 'Open Sans' , sans-serif;
        font-weight: 800;
        font-size: 1.75rem;
        line-height: 2rem;
        letter-spacing: -1px;
        margin-top: 20px;
        color: $white;
        text-transform: uppercase;  
        @include small {  
            font-size: 1.375rem;  
        }  
        @include x-small{  
         font-size: 0.9375rem;  
        }  
        span{  
            background-color: rgba(119, 199, 32, 0.7);
            padding: 7px 15px;  
            @include small {    
                padding: 5px 12px;    
            }  
            @include x-small{    
                background-color: none;    
            }  
        }
    }
    &__heading{  
        font-family: 'Open Sans' , sans-serif;
        font-size: 5rem;
        line-height: 5.313rem;
        font-weight: 800;
        letter-spacing: -1px;
        color: $white;
        text-transform: uppercase;
        margin: 0;  
        @include small {    
            font-size: 3.75rem;
            line-height: 4.063rem;
        }  
        @include x-small{
            font-size: 3.125rem;
            line-height: 3.438rem;
    
        }  
    }
}