.global-temperature{
   &__text {  
      h4{  
         font-size: 1.125rem;
         text-transform: uppercase;
         font-weight: 700;
         margin: 0;
      }
	   p{
         margin: 0 0 8px;
      }
      i{
         font-size: 1.375rem;
         color: $primary_color;
         margin-right: 10px;
      }
      .value{
         font-size: 1.625rem;
         font-weight: 600;
      }
      .value__unit{  
         font-size: 0.9375rem;
         color: $text_color;
      }  
   }
}