.our-brand{
    &__slider{
        @include small{
            margin-top:0
        }
		.brand-item{
		    padding: 12px;
            margin-bottom: 0;
            .brand-img{
                border-radius: 0;
				background-clip: padding box;
				width: 100%;
				margin: 0 auto 24px auto;
				border: 1px solid $border_color;
				display: block;
				padding: 12px;
				opacity: 1;
				transition: all 0.5s ease-out;
				&:hover{
                    border: 1px dotted $primary_hover;
                    opacity: 0.9;
                }
			    @include x-small{
                    max-width:100px;
                    margin: 0 auto;
                }
            }
        }
	}	
}
.our-brand__slider .slick-dots li button {
    border:1px solid #ddd;
    padding:5px;
}
.our-brand__slider .slick-dots li button::before {
	top: 5px;
	left: 5px;
	width: 10px !important;
	height: 10px;
	color: transparent;
	background-color: $primary_color;
    padding: 3px;
    opacity:1;
}