.postgrid-one{
   &__image{   
      background-size: cover;
      background-position: center;
      padding-top: 55%;
      background-repeat: no-repeat;
      display:block;
      img {   
         display: block;
         width: 100%;
	   }
   }
   &__title{   
      margin-top: 20px;
      margin-bottom: 15px;
      font-size:  1.125rem;
      font-weight: 700;
      line-height: 2.25rem;
      text-transform: uppercase; 
      a{
	      color: $text_color;
         &:hover{
	         color: $primary_color;  
		   } 	
      }
   }	 
   &__details{
      font-size: 0.875rem;
      font-weight: 600;
      margin-bottom: 20px;
   }
	&__author  {
      border-right: 1px solid $text_color;
	   color: $text_color;
	   display:inline-block;
	   line-height: 0.875rem;
	   margin-right: 3px;
	   padding-right: 8px;
	   transition: all 0.3s ease-out;
	}
   &__comments{
      color: $text_color;
	   display:inline-block;
	   line-height: 0.875rem;
	   margin-right: 3px;
	   padding-right: 8px;
	   transition: all 0.3s ease-out;
	}
   &__footer{
      margin-top: 0px;
	   text-align: center;
   }
   &__left {
      position: relative;
      display: inline-block;
      text-align: center;
      margin: 0 4px;
	   i{	  
         border: 1px solid $border_color;
         color: $primary_color;
         background-color: $background_color;
         display: inline-block;
         height: 2rem;
         position: relative;
         transition: all 0.5s ease-out;
         width: 32px;
         line-height: 1.875rem;
         font-size: x-large;
	   }      
	}
   &__right {  
      position: absolute;
      display: inline-block;
      float: right;
      text-align: center;
      margin: 0 4px;
	   i {
         border: 1px solid $border_color;
         color: $primary_color;
         background-color: $background_color;
         display: inline-block;
         height: 32px;
         position: relative;
         transition: all 0.5s ease-out;
         width: 32px;
         line-height: 1.875rem;
         font-size: x-large	   
	   }	
	}	 
}


// Post Grid Two

.postgrid-two{
   &__body{
      border: 1px solid $border_color;  
   }
   &__image{
      background-size: cover;
      background-position: center;
      padding-top: 60%;
      background-repeat: no-repeat; 
      display:block;
   } 
   &__details{
      padding: 15px;
   }    
	&__date{  
      color: $text_color;
      font-size: 0.9375rem;
      font-weight: 600;
      text-transform: uppercase;  
   }  
   &__title{
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 2.25rem;
      margin-top: 8px;
      margin-bottom: 8px;
      text-transform: uppercase;
      a{
         color: $text_color;  
         &:hover{  
            color: $primary_color;  
         }
      }
   }  
   &__link{
      color: $primary_color;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.25rem;
      text-transform: uppercase;
      &:hover{
         color: $primary_hover;
      }
   }
}
.post-query .slick-dots li button {
   border: 2px solid $primary_color;
   background-color: transparent;
}
.post-query .slick-dots li button:before {
   border-radius: 0 !important;
   width: 20px !important;
   height: 20px !important;
   background-color: $primary_color;
   content: "";
   padding: 10px;
   position: absolute;
}