.projects-block{
   &__body{
       margin-bottom: 20px;
       background: $white;
       @include x-small{   
            width: 100%;
            float: left;
            clear: both;
            background: $white;
        }
    }
    &__left{ 
        padding: 0px;
        figure{  
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        } 
    }
    &__image{ 
        background-size: cover;
        background-position: center;
        padding-top: 50%;
        background-repeat: no-repeat;
        display:block;
    }
    &__text{ 
        padding: 20px 25px;
        @include x-small{
            padding: 24px 12px;
        }
    }
    &__value{ 
        text-transform: uppercase;
        margin: 12px 0px;
        font-size: 1.125rem;
        clear: both;
        font-weight: 700;  
        @include x-small{
            margin: 12px 0px;
            font-size: 1.125rem;
            text-transform: uppercase;
            clear: both;
            font-weight: 400;
        }
    }
    &__raised{ 
        color: $text_color;
        @include x-small{
            color: $primary_color;
            font-size: 0.875rem;
            text-align: left;
        }
    }
    &__goal{
        color: $primary_color;
        @include x-small{
            color: $text_color;
            font-size: 0.875rem;
            text-align: left;
        } 
    }
    &__details h5 a{  
        font-family: 'Open Sans', sans-serif;
        margin-top: 18px;
        color: $text_color;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 2.25rem;
        display: block;
        text-transform: uppercase;  
        &:hover{  
            color: $primary_color;  
        }
    }
    &__button{
        border-radius:0px;
        background-clip: padding-box;
        color: $white;
        background: $primary_color;
        border: 2px solid $primary_color;
        padding: 12px 24px;
        font-size:1.125rem;
        margin: 20px 0;
        font-weight: 800;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: 0.3s 0.2s ease-out; 
        display: inline-block;
        &:hover{
            color:$text_color;  
        } 
        @include x-small{
            margin: 10px 0;
            padding: 8px 12px;
            font-size: 0.875rem;
            font-weight: 600;
        }
    }
    &__buttontwo{
        float: right;
        border-radius: 0px;
        background-clip: padding-box;
        color: $text_color;
        border: 2px solid $primary_color;
        padding: 12px 24px;
        font-size:1.125rem;
        margin: 20px 0;
        font-weight: 800;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: 0.3s 0.2s ease-out;
        &:hover{
            background: $primary_color;
            color: $white;
        }
        @include x-small{
            margin: 10px 0;
            padding: 8px 12px;
            font-size: 0.875rem;
            font-weight: 600;
        }
    }
	&__right{
        padding: 0px;
        figure{
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
    }
}