.service-one{
    &__body{
        position: relative;
        margin-top: -30px;   
    }
    &__image{
        display: block;
        width: 100%;
        min-height: 250px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        vertical-align: middle;
        position: relative;
        margin-top: 30px;
    }
    &__text{       
        bottom: 0;
        left: 0;
        margin: 0px;
        padding: 0px;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center; 
        h3{
            background-color: rgba(0, 0, 0, 0.5);
            color: $white;
            bottom: 0;
            left: 0;
            margin: 0px;
            padding: 10px 45px 10px 15px;
            position: relative;
            width: 100%;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 2.25rem;
            text-transform: uppercase;
        }        
        a{
            background-color: $primary_color;
            color: $white;
            display: inline-block;
            font-size: 1.125rem;
            padding: 20px;
            height: 56px;
            position: absolute;
            right: 0;
            bottom: 0;
            &:hover{              
              background-color: #e9e9e9;
            }        
        }        
    }
}



