.slider-block{
    &__image{	
	    background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
	    min-height: 800px;
		width: 100%;	
	}	
    &__content{     
        position: absolute;
        top: 50%;
		transform: translateY(-55%);
        width: 100%;
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 5rem;
            line-height: 5.313rem;
            font-weight: 800;
            letter-spacing: -1px;
            color: $white;
            text-transform:uppercase;
			margin: 0;
			@include small {  
                font-size: 3.438rem;
                line-height: 3.75rem;  
            }
            @include x-small{  
                font-size: 2.25rem;
                text-align: center;
                line-height: 2.625rem;  
            }            
        }
        h3 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 1.75rem;
            line-height: 2rem;
            letter-spacing:-1px;
            margin-top: 20px;
            color: $white;
            text-transform:uppercase;			
			@include small {  
                font-size: 1.625rem;
  
            }  
            @include x-small{  
                display: 22px;  
            }
        }
	}
	&__button{	
	    border-radius:0px;
        background-clip: padding-box;
        color: $white;
        background: $text_color;
        border: 2px solid $text_color;
        padding: 12px 24px;
        font-size:1.375rem;
        margin-top: 18px;
		height: 60px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        transition: 0.3s 0.2s ease-out; 
        display: inline-block;
        &:hover{
            background: $text_color;
            color: $white;
        }
        @include x-small{
            display: none;
        }
    }
    &__buttontwo{
	    border-radius:0px;
        background-clip: padding-box;
        color: $primary_color;
        background: $white;
        border: 2px solid $white;
        padding: 12px 24px;
        font-size:1.375rem;
        margin-top: 18px;
		margin-left: 18px;
		height: 60px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: capitalize;
        transition: 0.3s 0.2s ease-out; 
        display: inline-block;
        &:hover{
            border: 2px solid $background_color;;
            background: $background_color;
            color: $primary_hover;
        }	
        @include x-small{
            display: none;  
        }
    }
	.slick-arrow{
		display: none !important;
	}
	&:hover{		
		.slick-arrow{
			display:block !important;
			z-index:1;
		}
	}
	.slick-prev,
	.slick-next{
	    width: 55px;
	    height: 130px;
	    background: rgba(0,0,0,0.3);
	    &:before {
		    font-family: "instagr";
		    font-style: normal;
		    font-weight: normal;
		    font-size: 2.5rem;
		}
		&:hover{
			background: rgba(0,0,0,0.7);
		}
		&:focus{
			background: rgba(0,0,0,0.3);
		}
		@include medium{
			display:none !important;
		}
		@include x-small{
			display:none !important;
		}
	}
    .slick-prev{
	    left: 0;
	}
	.slick-next{
	    right: 0;
	}
}	
	