.statistics-block{
    &__details{
        margin: -8px 0;	
		h4{
            margin-top: 8px;
            font-weight: 700;
            font-family: 'Open Sans' ,sans-serif;
            font-size: 1.125rem;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 0.03em;
            position: relative;
            span{
                color: $primary_color;
                margin-left:5px;
            }
        }
        @include x-small{
            margin: 8px 0 16px;
        }
    }
    &__number{
       display: block;
       font-size: 3.125rem; 
       color: $white;
       font-weight: 700;
       font-family: 'Open Sans' , sans-serif;
    }
}