.team-one{
    &__member{    
        background-color: $white;
        position: relative;
        margin-bottom: 25px;   
        figure{
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
        }
    }
    &__info{
        cursor: pointer;
        overflow: hidden;
        width: 100%;
	      img {
          backface-visibility: hidden;
          display: block;
          height: auto;
          line-height: 0;
          transform: scale(1, 1);
          transition: all 800ms ease-in-out 0s;
          vertical-align: bottom;
          width: 100%;
		    }
    } 
    &__member h3 {
      color: $text_color;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5rem;
      letter-spacing: 0.01em;
      font-weight: 700;
      line-height: 2.25rem;
      margin-bottom: 0;
      margin-top: 25px;
      text-transform: uppercase;
      transition: color 350ms ease-in-out 0s;       
    }
    &__member h4 {
      color: $primary_color;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.875rem;
      letter-spacing: 0.01em;
      font-weight: 600;
      margin-bottom: 0;
      display: block;
      text-transform: uppercase;	
	}
	&__socialprofile{
      display: block;
      padding: 0;
      margin: 0;
      a{
        float: left;
        color: $text_color;
        display: block;
        font-size: 0.875rem;
        line-height: 35px;
        font-weight: 700;
        margin: 0;
        text-transform: uppercase;
        &:after{
          content: "/";
          font-size: 15px;
          margin: 0 10px 0 10px;
          color: $primary_color;
        }
		    &:last-child{
          &:after {
            content: "";
          }
        }
        &:hover {
          color: $primary_color;
		    }
		
      }
	  }   
}

//Team Two

.team-two{
   &__member{
      figure{
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
	    }
      display: block;
      position: relative;
      transform: translateZ(0px);
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: ease-out;
      vertical-align: middle;
      background-color: $background_color;
      &:hover, &:focus, &:active {
        transform: translateY(-5px);
      }
    } 
    &__info img{
      display: block;
      width: 100%; 
	  }
    &__member h3{
      color: $text_color;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.125rem;
      letter-spacing: 0.03em;
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 25px;
      text-transform: uppercase;
      text-align: center;  
    }
    &__member h4{       
      color: $text_color;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.875rem;
      letter-spacing: 0.03em;
      font-weight: 500;
      text-transform: uppercase;
		  text-align: center; 
    }
    &__socialprofile{ 
      position: relative;
      border-top: 1px solid $border_color;
      margin: 14px;
      padding: 20px 10px;
      a{   
        border: 1px solid $primary_color;
        color: $white;
        background-color: $primary_color;
        display: inline-block;
        font-size: 0.875rem;
        height: 31px;
        line-height: 1.75rem;
        margin: 0px 3px 5px;
        position: relative;
        text-align: center;
        transition: all 300ms ease 0s;
        width: 32px;
        &:hover{
          color: $text_color;
        } 
      }
    }
  }